@using ReDoMusic.Core.Domain.Entities;
@using ReDoMusic.Core.Domain.Enums;
@using ReDoMusic.Domain.Entities;
@using ReDoMusic.MVC.Models;
@model CategoryColorViewModel

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Redo Music</title>
	<link rel="stylesheet" type="text/css" href="~/css/home.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

	
</head>

</html>

<div id="filter" class="container-fluid mt-4">
	<div class="row">

		<div class="col-lg-3">
			<h2 style="margin-bottom:20px;">Categories</h2>
			<form method="post" asp-controller="home" asp-action="index">

				@for (int i = 0; i < Model.Categories.Count; i++)
				{
					<div class="form-check">
						<input class="form-check-input" type="text" asp-for="@Model.Categories[i].Id" />
						<input class="form-check-input" type="checkbox" asp-for="@Model.Categories[i].IsSelected" />
						<input class="form-check-input" type="hidden" asp-for="@Model.Categories[i].Name" />
						<label class="form-check-label">
							@Model.Categories[i].Name <!-- Display the Name property here -->
						</label>
					</div>
				}

				<h2 style="margin-top:25px;">Colors</h2>

				@if (Model != null && Model.Colors != null && Model.Colors.Any())
				{
					for(int i=0; i<Model.Colors.Count; i++)
					{
						<div class="form-check">
							
							<input class="form-check-input" type="checkbox" asp-for="@Model.Colors[i].IsSelected">
							<input class="form-check-input" type="hidden" asp-for="@Model.Colors[i].Name" />
							<input class="form-check-input" type="hidden" asp-for="@Model.Colors[i].Number" />
							<label class="form-check-label">
								@Model.Colors[i].Name
							</label>
						</div>
					}

				}

				<button class="btn btn-outline-primary" style="width:auto; margin-top:10px;" type="submit">Submit</button>
			</form>
		</div>
		  <div class="col-lg-9" >
                <div class="row">
                    @foreach (var instrument in Model.Instruments)
                    {
                        <div class="col-lg-4 mb-4">
                            <div class="card card-custom">
							<img src="@instrument.PictureUrl" class="custom-image" alt="@instrument.Name">
                                <div class="card-body">
                                    <h5 class="card-title">@instrument.Name</h5>
                                    <p class="card-text">@instrument.Price.ToString("C")</p>
                                </div>
                                <div class="card-footer text-center">
								<a asp-controller="Instrument" asp-action="Details" asp-route-id="@instrument.Id" style="text-decoration:none;">Details</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
	</div>
</div>
