@model CategoryColorViewModel

<head>
<link rel="stylesheet" type="text/css" href="~/css/home.css">
</head>
<body>
<div id="filter" class="container-fluid mt-4">
    <div class="col-lg-9 d-flex align-items-center justify-content-center">
        <div class="row">
            @foreach (var instrument in Model.Instruments)
            {
                <div class="col-lg-4 mb-4">
                    <div class="card card-custom">
                        <img src="@instrument.PictureUrl" class="custom-image" alt="@instrument.Name">
                        <div class="card-body">
                            <h5 class="card-title">@instrument.Name</h5>
                            <p class="card-text">@instrument.Price.ToString("C")</p>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Instrument" asp-action="Details" asp-route-id="@instrument.Id" style="text-decoration:none;">Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div> 
</div>
</body>