@using ReDoMusic.Core.Domain.Entities;
@using ReDoMusic.Core.Domain.Enums;
@using ReDoMusic.Domain.Entities;
@model ReDoMusic.MVC.Models.BrandCategoryModel;




<form method="post">
    <h1 style="text-align:center;">Instrument Add Page</h1>
    <div class="mb-3 mt-3">
        <label class="form-label">Name:</label>
        <input type="text" class="form-control" placeholder="Enter Instrument Name" name="name">
    </div>
    <div class="mb-3">
        <label class="form-label">Description:</label>
        <input type="text" class="form-control" placeholder="Enter Instrument Description" name="description">
    </div>
    <div class="mb-3">
        <label class="form-label">Price:</label>
        <input type="text" class="form-control" placeholder="Enter Price" name="price">
    </div>
    <div class="mb-3">
        <label class="form-label">Barcode:</label>
        <input type="text" class="form-control" placeholder="Enter Barcode" name="barcode">
    </div>
    <div class="mb-3">
        <label class="form-label">Image:</label>
        <input type="text" class="form-control" placeholder="Enter Image Url" name="pictureUrl" style="margin-bottom:25px;">
    </div>
    <div class="form-group">
        <label for="color">Color:</label>
        <select id="color" name="color">
            @foreach (Color color in Enum.GetValues(typeof(Color)))
            {
                <option value="@color">@color</option>
            }
        </select>
    </div>
    <br />
    <div class="form-group" style="margin-bottom:25px;">
    <label for="color">Brand:</label> 
    <select name="brandId">
        @foreach (var brand in Model.Brands.OrderBy(x => x.Name))
        {
            <option value="@brand.Id">@brand.Name</option>
        }
    </select>
        <a href="/Brand/Add" class="btn btn-primary" >Add Brand</a>

    </div>

    <div class="form-group">
        <label for="color">Category:</label>
        <select name="categoryId">
            @foreach (var category in Model.Categories.OrderBy(x => x.Name))
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <a href="/Category/Add" class="btn btn-primary">Add Category</a>

    </div>

    <br />
    <br />

     
    <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto; width:100px;">Submit</button>
</form> 